# Maven / Build
target/
*.class
*.jar
*.war

# IDE - Eclipse / STS
.classpath
.project
.settings/
.mvn/

# IDE - IntelliJ
.idea/
*.iml

# Spring Boot
*.log
application-local.properties

# OS
.DS_Store
Thumbs.db

# Misc
HELP.md
note.md
todo.todo
mvnw
mvnw.cmd